@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF8; /* cream */
  --foreground: #171717;
  --theme-color-rgb: 212 165 201; /* rose default */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
